<h1>Kladr selection</h1>
<form id="form">
	<div>
		<label for="state">Регион, Республика, Край, Область, Город ФЗ:</label><br/>
		<input id="state" type="text">
	</div>
	<div>
		<label for="district">Район:</label><br/>
		<input id="district" type="text">
	</div>
	<div>
		<label for="city">Город:</label><br/>
		<input id="city" type="text">
	</div>
	<div>
		<label for="locality">Населённый пункт:</label><br/>
		<input id="locality" type="text">
	</div>
	<div>
		<label for="street">Улица:</label><br/>
		<input id="street" type="text">
	</div>
	
</form>