<h1>Kladr listing</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Socr</th>
			<th>Code</th>
			<th>Index</th>
		</tr>
	</thead>
	<tbody>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= item.socr %></td>
			<td><%= item.code %></td>
			<td><%= item.index %></td>
		</tr>
		<% end %>
	</tbody>
</table>
